@model Webbansach.Models.TheLoai

@{
    ViewBag.Title = "HienThi";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>Thông tin thể loại</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenTheLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTheLoai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "ChinhSua", new { @MaTheLoai = Model.MaTheLoai }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
