@model Webbansach.Models.TheLoai

@{
    ViewBag.Title = "Xoa";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h3>Bạn có muốn xóa thể loại này không ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenTheLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTheLoai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Xóa" class="btn btn-primary" style=" margin-top: auto;" /> |
    @Html.ActionLink("Quay lại", "Index")
</div>
    }
</div>
